@import url("https://fonts.googleapis.com/css2?family=Amiko&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/football-quiz-background-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  font-family: "Amiko", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* header */
#header-hero > h1 {
  text-align: center;
  font-size: 250%;
  padding: 30px;
  margin-top: 20px;
}
#header-hero > h1 > span > a,
#footer-hero > ul > li > a {
  color: rgb(255, 255, 255);
}
.footbal-fun-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 2rem;
}

/* main content of the quiz */
#section-hero {
  background: linear-gradient(rgb(24, 49, 83), rgb(137, 43, 226));
  color: rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin: 0 auto 0 auto;
  height: 480px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.section-header-content > h2 {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 20px 50px;
  padding-top: 15px;
}

/* quiz questins and answers section */
#quiz-qus-and-ans-hero {
  margin-top: 2rem;
  padding: 1rem;
}
.quiz-questions {
  font-size: 180%;
}
.multiple-choices-answers {
  font-size: 110%;
  margin: 25px auto 0 auto;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
  width: 70%;
  border-radius: 10px;
}
.multiple-choices-answers:hover {
  background-color: rgb(240, 248, 255);
  color: rgb(0, 0, 0);
  padding: 15px;
  transition: 100ms;
}
.correct-answer,
.correct-answer:hover {
  background-color: rgb(40, 221, 40);
}
.incorrect-answer,
.incorrect-answer:hover {
  background-color: rgb(255, 45, 45);
}

/* hidden quiz result page for users */
.review-users {
  font-style: italic;
  background-color: rgb(24, 49, 83);
  display: none;
}
.review-users > h2 {
  padding: 30px;
}

/* footer */
#footer-hero {
  background: linear-gradient(rgb(24, 49, 83), rgb(137, 43, 226));
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer-hero > ul {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  font-size: 200%;
}
#footer-hero > ul > li > a:hover {
  color: rgb(0, 0, 0);
}

/* introduction page / index.html  */
#quiz-introduction-hero {
  background: linear-gradient(rgb(24, 49, 83), rgb(137, 43, 226));
  color: rgb(255, 255, 255);
  text-align: center;
  width: 40%;
  margin: 180px auto 0 auto;
  height: 350px;
  padding-bottom: 30px;
  border-radius: 10px;
  font-size: 120%;
  position: relative;
}
#quiz-introduction-hero > h1 {
  text-align: center;
  font-size: 170%;
  padding: 25px;
  margin-top: 15px;
}
#quiz-introduction-hero .footbal-fun-icon {
  height: 1.7rem;
}
.requird-text {
  font-style: italic;
  color: red;
}
.quiz-introduction-content > p,
input,
.quiz-introduction-content > a > .start-quiz-class {
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
}
.quiz-introduction-content > p,
.quiz-introduction-content > a > .start-quiz-class {
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: 50%;
  margin: 16px auto 0 auto;
}
.quiz-introduction-content > p:hover,
.quiz-introduction-content > a > .start-quiz-class:hover {
  background-color: rgb(240, 248, 255);
  color: rgb(0, 0, 0);
  padding: 13px;
  transition: 400ms;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input[type="submit"] {
  cursor: pointer;
  border-radius: 20px;
}

/* hidden overlay text for quiz */
#hidden-popup-text {
  background-color: rgb(24, 49, 83);
  position: absolute;
  top: -50px;
  width: 100%;
  height: 480px;
  border-radius: 50px;
  display: none;
}
.close-quiz-info {
  text-align: right;
  margin: 30px;
}
.close-quiz-info > .fa-xmark {
  cursor: pointer;
  padding: 10px;
  transition: 800ms;
  font-size: 130%;
}
.close-quiz-info > .fa-xmark:hover {
  transform: rotate(180deg);
}
#hidden-popup-text > h2 {
  margin: 40px;
  font-size: 170%;
}
#hidden-popup-text > p {
  margin: 20px;
  font-size: 120%;
}

/* screen sizes greater than 250px */
@media screen and (min-width: 250px) {
  /* header */
  #header-hero > h1 {
    font-size: 140%;
    margin-top: 25px;
  }
  .footbal-fun-icon {
    height: 1rem;
  }

  /* main content of the quiz */
  #section-hero {
    width: 80%;
    height: 600px;
    margin-bottom: 150px;
  }
  .section-header-content > h2 {
    flex-direction: column;
    margin: 50px 0 20px 0;
    font-size: 120%;
  }
  .section-header-content > h2 span {
    padding: 5px;
  }
  /* quiz questins and answers section */
  .quiz-questions {
    font-size: 110%;
  }
  .multiple-choices-answers {
    font-size: 95%;
    margin: 50px auto 0 auto;
    padding: 5px;
  }
  .multiple-choices-answers:hover {
    padding: 10px;
  }

  /* hidden quiz result page for users */
  .review-users > h2 {
    font-size: 90%;
  }
  .quiz-result > h1 {
    font-size: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .quiz-result > p {
    font-size: 110%;
    margin-bottom: 20px;
  }
  .quiz-result button {
    margin: 20px;
    font-size: 120%;
    padding: 10px;
    cursor: pointer;
  }

  /* footer */
  #footer-hero > ul {
    padding: 10px;
    font-size: 120%;
  }

  /* introduction page / index.html  */
  #quiz-introduction-hero {
    width: 80%;
    margin: 120px auto 0 auto;
    height: 400px;
  }
  #quiz-introduction-hero > h1 {
    font-size: 105%;
    padding-top: 40px;
  }
  #quiz-introduction-hero .footbal-fun-icon {
    height: 0.8rem;
  }
  .quiz-introduction-content > p,
  input,
  .quiz-introduction-content > a > .start-quiz-class {
    margin: 25px;
    padding: 8px;
  }
  .quiz-introduction-content > p,
  .quiz-introduction-content > a > .start-quiz-class {
    margin: 20px auto 0 auto;
    width: 60%;
    font-size: 80%;
  }
  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  input[type="submit"] {
    cursor: pointer;
    border-radius: 15px;
  }

  /* hidden overlay text for quiz */
  #hidden-popup-text {
    top: -30px;
    border-radius: 20px;
  }
  .close-quiz-info {
    margin: 15px;
  }
  .close-quiz-info > .fa-xmark {
    font-size: 100%;
  }
  #hidden-popup-text > h2 {
    margin: 15px;
    font-size: 120%;
  }
  #hidden-popup-text > p {
    font-size: 90%;
  }
}

/* screen sizes greater than 500px */
@media screen and (min-width: 500px) {
  /* header */
  #header-hero > h1 {
    font-size: 170%;
    padding: 50px;
    margin-top: 25px;
  }
  .footbal-fun-icon {
    height: 1.2rem;
  }

  /* main content of the quiz */
  #section-hero {
    width: 70%;
    height: 680px;
  }
  .section-header-content > h2 {
    display: inline-block;
    width: 100%;
    font-size: 120%;
  }
  .section-header-content > h2 > .questions-tracks {
    margin-right: 20px;
  }
  .section-header-content > h2 > .points-tracks {
    margin-left: 20px;
  }

  /* quiz questins and answers section */
  .quiz-questions {
    font-size: 130%;
  }
  .multiple-choices-answers {
    font-size: 110%;
    padding: 7px;
  }
  .multiple-choices-answers:hover {
    padding: 11px;
  }

  /* hidden quiz result page for users */
  .review-users > h2 {
    font-size: 130%;
    margin-top: 30px;
    padding: 45px;
  }

  .quiz-result > h1 {
    font-size: 130%;
    margin: 20px;
  }
  .quiz-result > p {
    font-size: 130%;
    margin-top: 25px;
  }
  .quiz-result button {
    font-size: 130%;
    padding: 12px;
  }

  /* footer */
  #footer-hero > ul {
    padding: 20px;
    font-size: 150%;
  }

  /* introduction page / index.html  */
  #quiz-introduction-hero {
    width: 70%;
    margin: 180px auto 0 auto;
  }
  #quiz-introduction-hero > h1 {
    font-size: 120%;
  }
  #quiz-introduction-hero .footbal-fun-icon {
    height: 1rem;
  }
  .quiz-introduction-content > p,
  input,
  .quiz-introduction-content > a > .start-quiz-class {
    margin: 25px;
    padding: 8px;
  }
  .quiz-introduction-content > p,
  .quiz-introduction-content > a > .start-quiz-class {
    margin: 20px auto 0 auto;
    width: 50%;
    font-size: 110%;
  }
  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  input[type="submit"] {
    cursor: pointer;
    border-radius: 15px;
  }

  /* hidden overlay text for quiz */
  #hidden-popup-text {
    top: 0;
    height: 440px;
  }
  .close-quiz-info > .fa-xmark {
    font-size: 120%;
  }
  #hidden-popup-text > h2 {
    font-size: 125%;
  }
  #hidden-popup-text > p {
    font-size: 100%;
  }
}

/* screen sizes greater than 750px */
@media screen and (min-width: 750px) {
  /* header */
  #header-hero > h1 {
    font-size: 220%;
    padding: 60px;
    margin-top: 30px;
  }
  .footbal-fun-icon {
    height: 1.5rem;
  }

  /* main content of the quiz */
  #section-hero {
    height: 700px;
    margin-bottom: 220px;
  }
  .section-header-content > h2 {
    font-size: 140%;
  }
  .section-header-content > h2 > .questions-tracks {
    margin-right: 80px;
  }
  .section-header-content > h2 > .points-tracks {
    margin-left: 80px;
  }

  /* quiz questins and answers section */
  .quiz-questions {
    font-size: 150%;
  }
  .multiple-choices-answers {
    font-size: 120%;
    padding: 9px;
  }
  .multiple-choices-answers:hover {
    padding: 14px;
  }

  /* hidden quiz result page for users */
  .review-users > h2 {
    font-size: 140%;
    padding: 50px;
  }
  .quiz-result > h1 {
    font-size: 150%;
    margin-top: 20px;
  }
  .quiz-result > p {
    font-size: 140%;
    margin-top: 50px;
  }
  .quiz-result button {
    font-size: 140%;
    padding: 20px;
    margin-top: 40px;
  }

  /* footer */
  #footer-hero > ul {
    padding: 30px;
    font-size: 160%;
  }

  /* introduction page / index.html  */
  #quiz-introduction-hero {
    margin: 160px auto 0 auto;
  }
  #quiz-introduction-hero > h1 {
    font-size: 160%;
  }
  #quiz-introduction-hero .footbal-fun-icon {
    height: 1.2rem;
  }
  .quiz-introduction-content > p,
  input,
  .quiz-introduction-content > a > .start-quiz-class {
    margin: 25px;
    padding: 8px;
  }
  .quiz-introduction-content > p,
  .quiz-introduction-content > a > .start-quiz-class {
    margin: 20px auto 0 auto;
    width: 50%;
    font-size: 130%;
  }
  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100%;
  }
  input[type="submit"] {
    cursor: pointer;
    border-radius: 15px;
  }

  /* hidden overlay text for quiz */
  .close-quiz-info > .fa-xmark {
    font-size: 130%;
    margin-right: 10px;
  }
  #hidden-popup-text > h2 {
    font-size: 135%;
  }
  #hidden-popup-text > p {
    font-size: 120%;
  }
}
